<link href="~/Content/css/phone_databaseview.css" rel="stylesheet" />
<style>
    div[name=form_free_table_mysql] > div[name=item_table_el]:hover {
        background: #008dd2;
        color: #fff;
        cursor: pointer;
        transform: scale(1.1,1.1);
        transition: .1s linear;
        box-shadow: 3px 3px 5px black;
    }
    div[name=save_info]:hover,
    div[name=btn_close_panel]:hover {
        transform: scale(1.1,1.1);
        transition: 0.1s linear;
    }
    div.elem_of_setting{
        cursor: pointer;
    }
    div.elem_of_setting:hover {
        background: #008dd2;
        color:#fff;
        font-weight:600;
        transition: .1s linear;
    }
</style>
<div style="padding:5px;background-color:#66bb6a;">
    <div><input type="file" id="backup_file_number" /></div>
    <div><input type="button" value="Load..." onclick="LoadBackupFile()" /></div>
</div>

<div name="panel_filter" style="border-radius: 10px 10px 0 0;background:#81c784;width:100%;padding:5px;">
    <select name="ListFO" onchange="ChangeFO($(this).find('option:selected').val())">
        <option value="" disabled selected>Выберите из списка ...</option>
    </select>
    <select name="ListOB" onchange="ChangeOB($(this).parent().find('select[name=ListFO]').find('option:selected').val(), $(this).find('option:selected').val())">
        <option value="" disabled selected>Выберите из списка ...</option>
    </select>
    <select name="ListGOR">
        <option value="" disabled selected>Выберите из списка ...</option>
    </select>

</div>
<div style="display:inline-flex;padding:5px;background:#81c784;width:100%;">
    <div class="search_btn" style="border-radius:10px;" onclick="BeginSearch()">Поиск</div>
    <div class="search_btn NotLoader" style="border-radius:10px;" onclick="GetInfoNumber($(this))">Информация</div>
    <div class="search_btn" style="border-radius:10px;" onclick="GetFilePhone()">Excel</div>
    <div class="search_btn" style="border-radius:10px;" onclick="ImportToCSV()">CSV</div>
    <div>
        <div class="search_btn" style="border-radius:10px;" onclick="FormImportToOktell($(this))">в Oktell</div>
    </div>
</div>
<div name="second_panel_filter" style="display: none;background:#81c784;width:100%;padding:5px;">
    <div name="filter_NP" hidden>
        <select>
            <option value="0" selected>Выберите из списка ...</option>
        </select>
    </div>
    <div name="filter_Age">Возраст: от <input type="text" name="text_age_from" style="width:50px" /> до <input type="text" name="text_age_to" style="width:50px;" /></div>
    <div name="filter_Sex">
        Пол
        <select>
            <option value="-1" selected>Все</option>
            <option value="0">Мужской</option>
            <option value="1">Женский</option>
        </select>
    </div>
    <div name="type_phone">
        Тип номера
        <select>
            <option value="" selected>Все</option>
            <option value="0">Станционарный</option>
            <option value="1">Мобильный</option>
        </select>
    </div>
    <div name="type_np">
        Тип поселения
        <select>
            <option value="" selected>Все</option>
            <option value="0">Город</option>
            <option value="1">Село</option>
        </select>
    </div>
    <div>
        <div name="second_filter_btn" style="border-radius:10px;" class="search_btn" onclick="CheckFiltredItem()">Фильтр</div>
        <div style="height:5px;"></div>
        <div name="reset_filter_btn" style="border-radius:10px;" class="search_btn" onclick="ResetMassive()">Сброс</div>
    </div>
</div>
<div name="panel_find_number" style="width:100%;background:#81c784;display:inline-flex;padding:5px;">
    <input type="text" placeholder="Номер телефона" name="input_number_phone"/>
    <div class="search_btn" style="border-radius:10px;" onclick="FindNumberInList()">Найти</div>
</div> 
<div style="width:100%;background-color:#008dd2;display:grid;grid-template-columns: repeat(10, 1fr);">
    <div style="color:#fff;grid-column: span 2;padding:3px;font-size:13px;font-weight:600;">Общее количество</div>
    <div name="common_count_array" style="width:80%;color:#fff;grid-column: span 8;padding:3px;font-size:14px;font-weight:600;"></div>
</div>
<div class="TablePhone">
    <div class="TableCont">
        <div class='item_form_numb'>
            <div name='NP' class="size" onclick="SortToNP($(this))">Населенный пункт</div>
            <div name='VGOR' class="size">Внутригородской район</div>
            <div name='Phone' class="size" onclick="SortToPhone($(this))">Телефон</div>
            <div name='Sex' class="size" onclick="SortToSex($(this))">Пол</div>
            <div name='Age' class="size" onclick="SortToAge($(this))">Возраст</div>
            <div name='Address' class="size">Адрес</div>
            <div name="TypeNP" class="size">Тип поселения</div>
        </div>
    </div>
    <div class="TableCont">
        <div name="content_table" style="height:90%;">
            <div name="paging_number" id="1" style="display:none;"></div>
        </div>
        <div name="paging" style="height:10%;display:inline-flex;width:100%;justify-content:center;align-items:center;padding:5px;">
            <div name="previos" style="border-radius:20px;display:flex;justify-content:center;align-items:center;font-weight:900;" class="page_btn" onclick="Page_Move_Previos()"><div style="margin-left:-2px;"><</div></div>
            <input type="text" style="width:50px;height:30px;" placeholder="page" />
            <div style="padding: 3px; font-weight:900;" name="count_page">/?</div>
            <div class="page_btn" style="display:flex;justify-content:center;align-items:center;border-radius:10px;width:auto;padding:5px;" onclick="ChangePage($(this).parent().find('input').val()) "><div>Переход</div></div>
            <div name="next" style="display:flex;border-radius:20px;justify-content:center;align-items:center;font-weight:900;" class="page_btn" onclick="Page_Move_Next()"><div>></div></div>
        </div>
    </div>
</div>
<script>
    let form_number_massive, backup_form_number_massive;
    let lst_form_numb = [];

    $(function () {
        $.get("/Phone/getListFO")
            .success(function (server_data) {
                if (server_data != null) {
                    $.each(server_data, function (i, item) {
                        $('select[name=ListFO]').append("<option value='" + item.KodFO + "'>" + item.NameFO + "</option>")
                    })
                }
            })
    })

    function GetFilePhone() {
        var KodFO = $('select[name=ListFO]').find('option:selected').val();
        var KodOB = $('select[name=ListOB]').find('option:selected').val();
        var KodGOR = $('select[name=ListGOR]').find('option:selected').val();
        document.location.href = "/Phone/ImportFile?FO=" + KodFO + "&OB=" + KodOB + "&GOR=" + KodGOR;
    }
    //Функция отрисовки листа с номерами
    function WriteTable(container, mass, page_iter) {
        container.find('.item_form_numb').remove()
        var length_lst = mass.length;
        var page_length = Math.ceil(length_lst / 30);
        $('div[name=count_page]').text("/" + page_length);
        var limit_iter = (page_iter * 30) > mass.length ? mass.length : (page_iter * 30);
        for (var i = (page_iter * 30) - 30; i < limit_iter; i++) {
            container.append("<div class='item_form_numb phone_form' onclick='LoadEditer($(this).find(\"div[name=Phone]\").text(), $(this).find(\"input\").val())'>" +
                "<input type='hidden' value='" + i + "' />" +
                "<div name='NP'>" + mass[i].NP + "</div>" +
                "<div name='VGOR'>" + mass[i].VGOR + "</div>" +
                "<div name='Phone'>" + mass[i].Phone + "</div>" +
                "<div name='Sex'>" + (mass[i].Sex == false ? "М" : "Ж") + "</div>" +
                "<div name='Age'>" + mass[i].Age + "</div>" +
                "<div name='Address'>" + mass[i].Address + "</div>" +
                "<div name='TypeNP'>"+(mass[i].TypeNP == false ? "город" : "село/деревня")+"</div>"+
                "</div>")
        }
    }
    //Загрузка панели редактора информации по номеру
    function LoadEditer(numb_phone, iter) {
        $.get("/Phone/GetFormNumber", { numb: numb_phone })
            .success(function (server_data) {
                $('body').append("<div class='block_panel_editer' style='width:100%; height: 100%; position: fixed; left:0;top:0;background: rgba(100,100,100,0.5); display: flex;justify-content: center;align-content:space-between;align-items:center;flex-direction:column;'>" +
                    "<div class='panel_editer'>" +
                    "<div class='close_panel_editer' onclick='$(this).parents(\".block_panel_editer\").remove()'>X</div>" +
                    "<input type='hidden' name='hidden_iter' value='" + iter + "'/>" +
                    "<input type='hidden' name='hidden_FO' value='" + server_data.FO + "'' />" +
                    "<input type='hidden' name='hidden_OB' value='" + server_data.OB + "'' />" +
                    "<input type='hidden' name='hidden_GOR' value='" + server_data.GOR + "'' />" +
                    "<input type='hidden' name='hidden_Phone' value='" + server_data.Phone + "'' />" +
                    "<div class='editer_form_numb'>" +
                    "<div name='rename_NP' class='col1_grid'>Населенный пункт</div><div name='text_rename_NP' class='col2_grid'><input type='text' value='" + server_data.NP + "'/></div>" +
                    "<div name='rename_VGOR' class='col1_grid'>Внутигородской район</div><div name='text_rename_VGOR' class='col2_grid'><input type='text' value='" + server_data.VGOR + "'/></div>" +
                    "<div name='rename_Sex' class='col1_grid'>Пол</div><div name='text_rename_Sex' class='col2_grid'>" +
                    "<select>" +
                    "<option value='0'>Мужской</option>" +
                    "<option value='1'>Женский</option>"+
                    "</select>" +
                    "</div>"+
                    "<div name='rename_Age' class='col1_grid'>Возрост</div><div name='text_rename_Age' class='col2_grid'><input type='text' value='" + server_data.Age + "'/></div>" +
                    "<div name='rename_Address' class='col1_grid'>Адрес</div><div name='text_rename_Address' class='col2_grid'><input type='text' value='" + server_data.Address + "'/></div>" +
                    "<div name='rename_Education' class='col1_grid'>Образование</div><div name='text_rename_Education' class='col2_grid'><input type='text' value='" + server_data.Education + "'/></div>" +
                    "<div name='rename_Type' class='col1_grid'>Тип телефона</div><div name='text_rename_Type' class='col2_grid'><select><option value='0' " + (server_data.Type == 0 ? "selected" : "") + ">Станционарный</option><option value='1' " + (server_data.Type == 1? "selected" : "")+">Мобильный</option></select></div>"+
                    "<div name='rename_TypeNP' class='col1_grid'>Тип поселения</div><div name='text_rename_TypeNP' class='col2_grid'><select><option value='0' " + (server_data.TypeNP == 0 ? "selected" : "") + ">Город</option><option value='1' " + (server_data.TypeNP == 1? "selected" : "")+">Село/Деревня/Поселок</option></select></div>"+
                    "</div>" +
                    "<div style='width:120px;height:30px;background:#008dd2;border-radius:10px;display:flex;justify-content:center;align-items:center;color:#fff;font-width:600;' name='save_info' onclick='SaveChangeFormNumb()'><div>Сохранить</div></div>" +
                    "</div>" +
                    "</div>");
            })
    }

    function find(array, value) {
        for (var i = 0; i < array.length; i++) {
            if (array[i].Phone == value) return i;
        }
        return -1;
    }

    //Сохранение новой информации по номеру
    function SaveChangeFormNumb() {
        var container = $('body').find('div.panel_editer');
        var iter_update = Number(container.find('input[name=hidden_iter]').val());
        var query = {
            FO: container.find('input[name=hidden_FO]').val(),
            OB: container.find('input[name=hidden_OB]').val(),
            GOR: container.find('input[name=hidden_GOR]').val(),
            NP: container.find('div[name=text_rename_NP]').find('input').val() != "" ? container.find('div[name=text_rename_NP]').find('input').val() : " ",
            VGOR: container.find('div[name=text_rename_VGOR]').find('input').val() != "" ? container.find('div[name=text_rename_VGOR]').find('input').val() : " ",
            Phone: container.find('input[name=hidden_Phone]').val(),
            Sex: container.find('div[name=text_rename_Sex]').find('option:selected').val() == 0 ? false : true,
            Age: container.find('div[name=text_rename_Age]').find('input').val() != "" ? Number(container.find('div[name=text_rename_Age]').find('input').val()) : " ",
            Address: container.find('div[name=text_rename_Address]').find('input').val() != "" ? container.find('div[name=text_rename_Address]').find('input').val() : " ",
            Education: container.find('div[name=text_rename_Education]').find('input').val() != "" ? container.find('div[name=text_rename_Education]').find('input').val() : " ",
            Type: Number(container.find('div[name=text_rename_Type]').find('select').find('option:selected').val()),
            TypeNP: Number(container.find('div[name=text_rename_TypeNP]').find('select').find('option:selected').val()) == 0 ? false : true 
        };
        $.post("/Phone/SetFormNumber", { _fn: query })
            .success(function (code) {
                if (code == 200) {
                    let year_now = new Date(Date.now()).getFullYear();
                    query.Age = year_now - query.Age;
                    $('body').find('div.block_panel_editer').remove()
                    form_number_massive[iter_update] = query;
                    let index_arr = find(backup_form_number_massive, form_number_massive[iter_update].Phone);
                    if (index_arr >= 0) {
                        backup_form_number_massive[index_arr] = query;
                    }
                    var paging_number = Number($('div[name=paging_number]').attr('id'));
                    WriteTable($('div[name=content_table]'), form_number_massive, paging_number);
                }
                if (code == 0) {
                    alert("error");
                }
            })
            .error(function () {
                alert("ERROR");
            })
    }

    //Смена листа с номерами
    function ChangePage(page_numb) {
        page_numb = jQuery.isNumeric(page_numb) ? page_numb : 1;
        var page_length = Math.ceil(form_number_massive.length / 30);
        if (page_numb > page_length) {
            page_numb = page_length;
        }
        if (page_numb < 1) {
            page_numb = 1;
        }
        $('div[name=paging_number]').attr('id', page_numb);
        $('div[name=paging]').find('input').val(page_numb);
        WriteTable($('div[name=content_table]'), form_number_massive, page_numb);
    }

    //Загрузка и перерисовка списка областей
    function ChangeFO(code) {
        $('select[name=ListOB]').find('option:not(:disabled)').remove();
        $('select[name=ListOB]').find('option:disabled').prop('selected', true);
        $('select[name=ListGOR]').find('option:not(:disabled)').remove();
        $('select[name=ListGOR]').find('option:disabled').prop('selected', true);
        $.get("/Phone/getListOB", { code: code })
            .success(function (server_data) {
                if (server_data != null && server_data.length != 0) {
                    $.each(server_data, function (i, item) {
                        $('select[name=ListOB]').append("<option value='" + item.KodOB + "'>" + item.NameOB + "</option>");
                    })
                }
            })
    }

    //Загрузка и перерисовка списка городских округов
    function ChangeOB(codeFO, codeOB) {
        $('select[name=ListGOR]').find('option:not(:disabled)').remove();
        $('select[name=ListGOR]').find('option:disabled').prop('selected', true);
        $.get("/Phone/getListGOR", { codeFO: codeFO, codeOB: codeOB })
            .success(function (server_data) {
                if (server_data != null && server_data.length != 0) {
                    $.each(server_data, function (i, item) {
                        $('select[name=ListGOR]').append("<option value='" + item.KodGOR + "'>" + item.NameGOR + "</option>");
                    })
                }
            })
    }

    //Загрузка номеров из базы
    function BeginSearch() {
        var KodFO = $('select[name=ListFO]').find('option:selected').val();
        var KodOB = $('select[name=ListOB]').find('option:selected').val();
        var KodGOR = $('select[name=ListGOR]').find('option:selected').val();
        $.get("/Phone/getListFormNumber", { KodFO: KodFO, KodOB: KodOB, KodGOR: KodGOR })
            .success(function (server_data) {
                $('div[name=paging_number]').attr('id', 1);
                $('div[name=paging]').find('input').val(1);
                var paging_number = Number(1);
                form_number_massive = server_data.clone();
                backup_form_number_massive = server_data.clone();
                WriteTable($('div[name=content_table]'), form_number_massive, paging_number);
                $('div[name=common_count_array]').text(form_number_massive.length);
                $('div[name=second_panel_filter]').css("display", "inline-flex");
                var lst_NP = {};
                var lst_VGOR = {};
                $.each(form_number_massive, function (i, item) {
                    if (item.NP != null && item.NP != "" && item.NP != " ") {
                        lst_NP[item.NP] = item.NP;
                    }
                })
                var container_NP = $('div[name=second_panel_filter]').find('div[name=filter_NP]').find('select');
                container_NP.find('option:not([value=0])').remove();
                $.each(lst_NP, function (i, item) {
                    container_NP.append("<option value='" + item + "'>" + item + "</option>");
                })
            })
            .error(function (xhr, ajaxOptions, thrownError) {
                console.log(xhr);
                console.log(thrownError);
                console.log(ajaxOptions)
            })
    }

    //Отфильтровать номера по параметрам
    function CheckFiltredItem() {
        form_number_massive = backup_form_number_massive.clone();
        let _filter_NP = $('div[name=second_panel_filter]').find('div[name=filter_NP]').find('option:selected').val();
        let _filter_VGOR = $('div[name=second_panel_filter]').find('div[name=filter_VGOR]').find('option:selected').val();
        let _sex = $('div[name=second_panel_filter]').find('div[name=filter_Sex]').find('option:selected').val();
        let _age_from = $('div[name=second_panel_filter]').find('input[name=text_age_from]').val();
        let _age_to = $('div[name=second_panel_filter]').find('input[name=text_age_to]').val();
        let _type_phone = $('div[name=second_panel_filter]').find('div[name=type_phone]').find('option:selected').val();
        let _type_np = $('div[name=second_panel_filter]').find('div[name=type_np]').find('option:selected').val();
        if (isNaN(Number(_age_from)) || _age_from == '') { _age_from = Number(0); }
        else { _age_from = Number(_age_from) }
        if (isNaN(Number(_age_to)) || _age_to == '') { _age_to = Number(150); }
        else { _age_to = Number(_age_to) }
        if (_age_from > _age_to) {
            let tmp = _age_from;
            _age_from = _age_to;
            _age_to = tmp;
        }
        $('div[name=second_panel_filter]').find('input[name=text_age_from]').val(_age_from);
        $('div[name=second_panel_filter]').find('input[name=text_age_to]').val(_age_to);

        var limit_mass = form_number_massive.length;
        for (var i = 0; i < limit_mass; i++) {
            if (_filter_NP != 0 && form_number_massive[i].NP != _filter_NP) {
                form_number_massive.splice(i, 1);
                limit_mass--;
                i--;
                continue;
            }
            if (_sex != -1 && form_number_massive[i].Sex != (_sex == 0 ? false : true)) {
                form_number_massive.splice(i, 1);
                limit_mass--;
                i--;
                continue;
            }
            if (form_number_massive[i].Age < _age_from || form_number_massive[i].Age > _age_to) {
                form_number_massive.splice(i, 1);
                limit_mass--;
                i--;
                continue;
            }
            if (_type_phone != '') {
                if (form_number_massive[i].Type != _type_phone) {
                    form_number_massive.splice(i, 1);
                    limit_mass--;
                    i--;
                    continue;
                }
            }
            if (_type_np != '') {
                if (form_number_massive[i].TypeNP != _type_np) {
                    form_number_massive.splice(i, 1);
                    limit_mass--;
                    i--;
                    continue;
                }
            }
        }
        $('div.TablePhone').find('.SortUp').removeClass('SortUp');
        $('div.TablePhone').find('.SortDown').removeClass('SortDown');
        $('div[name=paging_number]').attr('id', 1);
        $('div[name=paging]').find('input').val(1);
        WriteTable($('div[name=content_table]'), form_number_massive, 1);
        $('div[name=common_count_array]').text(form_number_massive.length);
    }

    function ResetMassive() {
        $('div.TablePhone').find('.SortUp').removeClass('SortUp');
        $('div.TablePhone').find('.SortDown').removeClass('SortDown');
        $('div[name=paging_number]').attr('id', 1);
        $('div[name=paging]').find('input').val(1);
        form_number_massive = backup_form_number_massive.clone();
        WriteTable($('div[name=content_table]'), form_number_massive, 1);
    }

    $('input[name=TestImport]').change(function (e) {

        var file_elem = $(this);
        var files = e.target.files;
        var name_file;
        if (files.length > 0) {
            if (window.FormData !== undefined) {
                var data = new FormData();
                for (var x = 0; x < files.length; x++) {
                    data.append("file" + x, files[x]);
                    var file = files[x];
                    name_file = file.name;
                }
                $.ajax({
                    type: "POST",
                    url: "/Phone/TestImport",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function () {
                        alert("Success");
                    }
                })
            } else {
                alert("This browser doesn't support HTML5 file uploads!");
            }
        }

    })
    Array.prototype.clone = function () {
        return this.slice(0);
    }

    //BEGIN BLOCK "Sort"
    function sortUP_String(option) {
        return function (a, b) {
            return a[option].toLowerCase().localeCompare(b[option].toLowerCase());
        }
    }
    function sortDOWN_String(option) {
        return function (a, b) {
            return (-1) * a[option].toLowerCase().localeCompare(b[option].toLowerCase());
        }
    }
    function sortUP_Number(option) {
        return function (a, b) {
            return a[option] - b[option];
        }
    }
    function sortDOWN_Number(option) {
        return function (a, b) {
            return -1 * (a[option] - b[option]);
        }
    }
    //END BLOCK

    //Сортирова по населенному пункту
    function SortToNP(container) {
        if (container.parents('.TablePhone').find('.phone_form').length == 0) {
            return;
        }
        $('div[name=paging_number]').attr('id', 1);
        $('div[name=paging]').find('input').val(1);
        if (!container.hasClass('SortUp') && !container.hasClass('SortDown')) {
            container.parent().find('.SortUp').removeClass('SortUp');
            container.parent().find('.SortDown').removeClass('SortDown');
            form_number_massive = form_number_massive.sort(sortUP_String("NP"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.addClass('SortUp');
            return;
        }
        if (container.hasClass('SortUp')) {
            form_number_massive = form_number_massive.sort(sortDOWN_String("NP"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortUp').addClass('SortDown');
            return;
        }
        if (container.hasClass('SortDown')) {
            form_number_massive = form_number_massive.sort(sortUP_String("NP"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortDown').addClass('SortUp');
            return;
        }
    }
    //Сортировка по полу
    function SortToSex(container) {
        if (container.parents('.TablePhone').find('.phone_form').length == 0) {
            return;
        }
        $('div[name=paging_number]').attr('id', 1);
        $('div[name=paging]').find('input').val(1);
        if (!container.hasClass('SortUp') && !container.hasClass('SortDown')) {
            container.parent().find('.SortUp').removeClass('SortUp');
            container.parent().find('.SortDown').removeClass('SortDown');
            form_number_massive = form_number_massive.sort(sortUP_Number("Sex"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.addClass('SortUp');
            return;
        }
        if (container.hasClass('SortUp')) {
            form_number_massive = form_number_massive.sort(sortDOWN_Number("Sex"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortUp').addClass('SortDown');
            return;
        }
        if (container.hasClass('SortDown')) {
            form_number_massive = form_number_massive.sort(sortUP_Number("Sex"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortDown').addClass('SortUp');
            return;
        }
    }
    //Сортировка по возрасту
    function SortToAge(container) {
        if (container.parents('.TablePhone').find('.phone_form').length == 0) {
            return;
        }
        $('div[name=paging_number]').attr('id', 1);
        $('div[name=paging]').find('input').val(1);
        if (!container.hasClass('SortUp') && !container.hasClass('SortDown')) {
            container.parent().find('.SortUp').removeClass('SortUp');
            container.parent().find('.SortDown').removeClass('SortDown');
            form_number_massive = form_number_massive.sort(sortUP_Number("Age"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.addClass('SortUp');
            return;
        }
        if (container.hasClass('SortUp')) {
            form_number_massive = form_number_massive.sort(sortDOWN_Number("Age"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortUp').addClass('SortDown');
            return;
        }
        if (container.hasClass('SortDown')) {
            form_number_massive = form_number_massive.sort(sortUP_Number("Age"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortDown').addClass('SortUp');
            return;
        }

    }
    //Сортировка по номерам телефонов
    function SortToPhone(container) {
        if (container.parents('.TablePhone').find('.phone_form').length == 0) {
            return;
        }
        $('div[name=paging_number]').attr('id', 1);
        $('div[name=paging]').find('input').val(1);
        if (!container.hasClass('SortUp') && !container.hasClass('SortDown')) {
            container.parent().find('.SortUp').removeClass('SortUp');
            container.parent().find('.SortDown').removeClass('SortDown');
            form_number_massive = form_number_massive.sort(sortUP_String("Phone"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.addClass('SortUp');
            return;
        }
        if (container.hasClass('SortUp')) {
            form_number_massive = form_number_massive.sort(sortDOWN_String("Phone"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortUp').addClass('SortDown');
            return;
        }
        if (container.hasClass('SortDown')) {
            form_number_massive = form_number_massive.sort(sortUP_String("Phone"));
            WriteTable($('div[name=content_table]'), form_number_massive, 1);
            container.removeClass('SortDown').addClass('SortUp');
            return;
        }
    }
    //Переход на следующий лист
    function Page_Move_Next() {
        var page = Number($('div[name=paging_number]').attr('id')) + 1;
        var page_length = Math.ceil(form_number_massive.length / 30);
        if (page > page_length) {
            return;
        }
        $('div[name=paging_number]').attr('id', page);
        $('div[name=paging]').find('input').val(page);
        WriteTable($('div[name=content_table]'), form_number_massive, page);
    }
    //Переход на предыдущий лист
    function Page_Move_Previos() {
        var page = Number($('div[name=paging_number]').attr('id')) - 1;
        var page_length = Math.ceil(form_number_massive.length / 30);
        if (page < 1) {
            return;
        }
        $('div[name=paging_number]').attr('id', page);
        $('div[name=paging]').find('input').val(page);
        WriteTable($('div[name=content_table]'), form_number_massive, page);
    }
    //Загрузка общего количества номеров в базе по разделам
    function GetInfoNumber(div_cont) {
        if (lst_form_numb.length == 0) {
            div_cont.text("LOAD...");
            $.get("/Phone/GetInfoNumber")
                .success(function (server_data) {
                    div_cont.text("Информация");
                    lst_form_numb = server_data;
                    $('div.NotLoader').removeClass('NotLoader');
                    $('body').append("<div class='wall_of_background' style='width:100%;height:100%;display:flex;justify-content:center;align-items:center;background: rgba(100,100,100,0.5); position: fixed;top:0;left:0;'>" +
                        "<div style='width:80%;height:80%;border: 3px inset #008dd2;background-color:#fff;padding: 5px 10px;'>" +
                        "<div name='btn_close_panel' style='width:30px;height:30px;background-color:red;position:relative;top:-20px;left:calc(100% - 5px);border-radius:15px;display:flex;justify-content:center;align-items:center;font-weight:900;color:#fff;cursor:pointer;' onclick='$(this).parents(\".wall_of_background\").remove()'>X</div>" +
                        "<div class='panel_info_numbers slide_panel' style='width:100%;height:95%;overflow-y:auto;padding: 0px 5px;'></div>" +
                        "</div>" +
                        "</div>")
                    var container = $('div.panel_info_numbers');
                    RecusiveFunc(lst_form_numb, container);
                    SlideUpAll(container);
                })
        } else {
            $('body').append("<div class='wall_of_background' style='width:100%;height:100%;display:flex;justify-content:center;align-items:center;background: rgba(100,100,100,0.5); position: fixed;top:0;left:0;'>" +
                "<div style='width:80%;height:80%;border: 3px inset #008dd2;background-color:#fff;padding: 5px 10px;'>" +
                "<div name='btn_close_panel' style='width:30px;height:30px;background-color:red;position:relative;top:-20px;left:calc(100% - 5px);border-radius:15px;display:flex;justify-content:center;align-items:center;font-weight:900;color:#fff;cursor:pointer;' onclick='$(this).parents(\".wall_of_background\").remove()'><div>X</div></div>" +
                "<div class='panel_info_numbers slide_panel' style='width:100%;height:95%;overflow-y:auto;padding: 0px 5px;'></div>" +
                "</div>" +
                "</div>")
            var container = $('div.panel_info_numbers');
            RecusiveFunc(lst_form_numb, container);
            SlideUpAll(container);
        }
    }

    function RecusiveFunc(mass, container) {
        if (jQuery.isPlainObject(mass) == false) return;
        else if (mass.length == 0) {
            container.append("<div>" +
                "<div class='block_info_text'><div class='text_end_count'>" + mass.name + "</div><div class='number_count'>" + mass.count + "</div></div>" +
                "</div>");
        }
        $.each(mass, function (i, item) {
            if (jQuery.isPlainObject(item) == true) {
                if (item.length != 0) {
                    container.append("<div class='slide_panel'>" +
                        "<div class='block_info_text'><div class='btn_slide_panel' onclick='SlideSubPanel($(this).parents(\".slide_panel:first\").find(\".slide_panel:first\"))'></div><div class='text_count'>" + item.name + "</div><div class='number_count'>" + item.count + "</div></div>" +
                        "<div class='SlideDown slide_panel sub_panel" + i + "' style='padding-left:20px;'></div>" +
                        "</div>")
                    var cont = container.find('div.sub_panel' + i + '');
                    RecusiveFunc(item, cont);
                } else {
                    RecusiveFunc(item, container);
                }
            }
        })
    }

    function SlideSubPanel(container) {
        if (container.hasClass('SlideDown')) {
            container.slideUp(200);
            container.removeClass('SlideDown').addClass('SlideUp')
        } else if (container.hasClass('SlideUp')) {
            container.slideDown(200);
            container.removeClass('SlideUp').addClass('SlideDown');
        }

    }

    function SlideUpAll(container) {
        container.find('div.SlideDown').each(function () {
            $(this).removeClass('SlideDown').addClass('SlideUp');
            $(this).slideUp(300);
        })
    }
    //Выгрузка номеров в CSV файл
    function ImportToCSV() {
        var KodFO = $('select[name=ListFO]').find('option:selected').val();
        var KodOB = $('select[name=ListOB]').find('option:selected').val();
        var KodGOR = $('select[name=ListGOR]').find('option:selected').val();
        window.location.href = "/Phone/ImportFileCSV?FO=" + KodFO + "&OB=" + KodOB + "&GOR=" + KodGOR;
    }
    //Загрузка номеров в Oktell
    function FormImportToOktell(cont) {
        if ($('div[name=form_free_table_mysql]').length != 0) {
            $('div[name=form_free_table_mysql]').remove();
        } else {
            cont.after("<div style='width:200px;height:auto;display: block;position: absolute ; border: 1px solid #008dd2;z-index:10;margin: 0px 3px;background: #fff;' name='form_free_table_mysql'></div>");
            $.get("/Phone/GetFreeNameTable")
                .success(function (server_data) {
                    var panel_free_table = $('div[name=form_free_table_mysql]');
                    $.each(server_data, function (i, item) {
                        if (item == "" || item == null) {
                            panel_free_table.append("<div style='text-align:center;padding:2px;' name='item_table_el' id='" + (i + 1) + "' onclick='TestFunction($(this))'>Таблица " + (i + 1) + "</div>")
                        }
                    })
                })
        }
    }

    function TestFunction(cont) {
        let parent_cont = cont.parent();
        let id_cont = cont.attr('id');
        if (cont.hasClass('OpenSetting')) {
            parent_cont.find('div[name=setting_for_load]').slideUp(200);
            cont.removeClass('OpenSetting');
        } else {
            parent_cont.find('div[name=setting_for_load]').remove();
            cont.addClass('OpenSetting');
            cont.after("<div name='setting_for_load' style='width:100%;background-color:#cfd8dc;display:none;'>" +
                "<div class='elem_of_setting' style='text-align:center;' onclick='FuncLoadNumberOktell(1," + id_cont + ");'>Все номера</div>" +
                "<div class='elem_of_setting' style='text-align:center;' onclick='FuncLoadNumberOktell(2,"+id_cont+");'>[connect]</div>" +
                "<div class='elem_of_setting' style='text-align:center;' onclick='FuncLoadNumberOktell(3,"+id_cont+");'>[завершено]</div>" +
                "</div>");
            parent_cont.find('div[name=setting_for_load]').slideDown(200);
        }
    }
    function FuncLoadNumberOktell(type_load, cont) {
        let name_FO = $('select[name=ListFO]').find('option:selected').val() != "" ? $('select[name=ListFO]').find('option:selected').text() : null;
        let name_OB = $('select[name=ListOB]').find('option:selected').val() != "" ? $('select[name=ListOB]').find('option:selected').text() : null;
        let name_GOR = $('select[name=ListGOR]').find('option:selected').val() != "" ? $('select[name=ListGOR]').find('option:selected').text() : null;
        let name_table;
        if (name_GOR != null) {
            name_table = name_GOR;
            name_GOR = $('select[name=ListGOR]').find('option:selected').val();
            name_OB = $('select[name=ListOB]').find('option:selected').val();
            name_FO = $('select[name=ListFO]').find('option:selected').val();
        } else if (name_OB != null) {
            name_table = name_OB;
            name_OB = $('select[name=ListOB]').find('option:selected').val();
            name_FO = $('select[name=ListFO]').find('option:selected').val();
            name_GOR = "empty";
        } else if (name_FO != null) {
            name_table = name_FO;
            name_FO = $('select[name=ListFO]').find('option:selected').val();
            name_GOR = "empty";
            name_OB = "empty";
        }
        if (type_load == 3) {
            let result = confirm("В этом случае все выбронные номера пометятся как \"connect\"\nВы уверены?");
            if (result == false) {
                return;
            }
        }
        let massive_to_load_oktell = [];
        $.each(form_number_massive, function (i, item) {
            massive_to_load_oktell.push(item.Phone);
        })
        $('div[name=form_free_table_mysql]').remove();
        $('.PreLoader').show();
        $.post("/Phone/TestFuncTest", { name_FO: name_FO, name_OB: name_OB, name_GOR: name_GOR, type: type_load, name: name_table, id_table: cont, tmp: massive_to_load_oktell })
            .success(function () {
                $('.PreLoader').hide();
                alert("Success");
            })
    }

    //Поиск номера в списке
    function FindNumberInList() {
        if (form_number_massive == undefined || backup_form_number_massive == undefined) {
            alert("Список номеров пуст");
            return;
        }
        form_number_massive = backup_form_number_massive.clone();
        let number = $('div[name=panel_find_number]').find('input').val();
        
        let tmp_form_number_massive = [];
        $.each(form_number_massive, function (i, item) {
            if (item.Phone.indexOf(number) >= 0) {
                tmp_form_number_massive.push(item);
            }
        })
        form_number_massive = tmp_form_number_massive.clone();
        $('div[name=paging_number]').attr('id', 1);
        $('div[name=paging]').find('input').val(1);
        var paging_number = Number(1);

        WriteTable($('div[name=content_table]'), form_number_massive, paging_number);
        $('div[name=second_panel_filter]').css("display", "inline-flex");
    }

    function LoadBackupFile() {
        var file = document.getElementById('backup_file_number').files;
        if (file.length == 0) {
            alert("File empty");
        } else {
            if (window.FormData !== undefined) {
                var data = new FormData();
                data.append("file", file[0]);

                $.ajax({
                    type: "POST",
                    url: "/Phone/LoadBackup",
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function () {
                        alert("Success");
                    },
                    error: function () {
                        alert("Error");
                    }
                })
            }
        }
    }
</script>
