
<style>
    tr.table_answer:first-child {
        background-color: #72afff;
    }

    td.table_answer:first-child {
        background-color: #72afff;
    }

    td.table_answer {
        text-align: center;
        border: 1px solid black;
        padding: 10px;
    }
    table.table_answer {
        margin-bottom: 25px;
    }
</style>

<div class="table_answer">

</div>

@Scripts.Render("~/Scripts/jquery-1.10.2.js")
<script type="text/javascript">

    $(function () {
        var is_bind_quetion = false
        var bind_question;
        if ($('table').is('.table_answer')) {
            $.ajax({
                type: "GET",
                url: "/Question/getQuestion",
                async: false,
                data: { id: $('input.Id').val() },
                success: function (data) {
                    if (data.Bind != null) {
                        is_bind_quetion = true;
                        bind_question = data.Bind;
                    }
                },
                error: function () { console.error("Ошибка выгрузки данных ... /Question/getQuestion"); }
            })
            $('.question_form').append('<p><input type="checkbox" class="binding_question"> Связь с вопросом?</p>');
            if (is_bind_quetion) {
                $('input.binding_question').prop('checked', true);
                var code = '<select class="id_bind_question">'
                $.ajax({
                    type: "GET",
                    url: "/Group/getGroup",
                    async: false,
                    data: { id_p: $('input[name=project_id]').val() },
                    success: function (question_list) {
                        console.info("Массив вопросов выгружен", question_list)
                        $.each(question_list, function (i, item) {
                            code += '<option value="' + item.QuestionID + '">' + item.GroupName + '</option>';
                        })
                    },
                    error: function () { console.error('Ошибка выгрузки данных ... /Group/getGroup'); }
                });
                code += '</select>';
                $('input.binding_question').parent().after(code);
               
                $('select.id_bind_question').find('option[value = "' + bind_question + '"]').attr('selected', true);
            }
            $('input.binding_question').change(function () {
                if ($(this).is(':checked')) {
                    var code = '<select class="id_bind_question">'
                    $.ajax({
                        type: "GET",
                        url: "/Group/getGroup",
                        async: false,
                        data: { id_p: $('input[name=project_id]').val() },
                        success: function (question_list) {
                            console.info("Массив вопросов выгружен", question_list)
                            $.each(question_list, function (i, item) {
                                code += '<option value="' + item.QuestionID + '">' + item.GroupName + '</option>';
                            })
                        },
                        error: function () { console.error('Ошибка выгрузки данных ... /Group/getGroup'); }
                    });
                    code += '</select>';
                    $('input.binding_question').parent().after(code);
                } else {
                    $('select.id_bind_question').remove();
                }
            });
            $('.question_form').append('<p><input type="checkbox" class="is_own_index"> Задать свои индексы</p>');
            if (is_bind_quetion) {
                $('input.is_own_index').prop('checked', true);
                $.ajax({
                    type: "GET",
                    url: "/Question/getTableRow",
                    async: false,
                    data: { id_q: $('input.Id').val(), id_a: 0 },
                    success: function (table_row_list) {
                        $.each($('td.item_question'), function (i, item) {
                            $(this).find('span').append('<input class="own_index" type="text" style="width: 50px;" value="' + table_row_list[i].IndexRow + '">');
                        })
                    },
                    error: function () {
                        console.error("Ошибка выгрузки даннных ... /Question/getTableRow");
                    }
                })
            }
            $('input.is_own_index').change(function () {
                if ($(this).is(':checked')) {
                    $('td.item_question').find('span').append('<input class="own_index" type="text" style="width: 50px;">');
                } else {
                    $('td.item_question input.own_index').remove();
                }
            });
        }
        else {
            var code = '<p><span>Количество строк</span> <input type="text" name="row_table"/></p>'
                + '<p><span>Количество столбцов</span> <input type="text" name="colum_table"></p>'
                + '<p><button name="create_table">Создать таблицу</button></p>';
            $('div.table_answer').append(code);
        }

        $('button[name=create_table]').click(function () {
            var row, colum, code;
            row = $('input[name=row_table]').val();
            colum = $('input[name=colum_table]').val();
            $('div.table_answer').empty();
            code = '<table class="table_answer">';
            for (var row_iter = 0; row_iter <= row; row_iter++) {
                code += '<tr id=' + row_iter + ' class="table_answer">';
                for (var colum_iter = 0; colum_iter <= colum; colum_iter++) {
                    if (row_iter == 0 && colum_iter != 0) {
                        code += '<td id=' + colum_iter + ' class="item_answer table_answer"><input type="hidden" class="index" id="' + colum_iter + '"><span class="edittext">Ответ</span></td>'
                    } else {
                        if (row_iter != 0 && colum_iter != 0) {
                            code += '<td id=' + colum_iter + ' class="check_td table_answer"><input type="radio" name="group' + row_iter + '"/></td>';
                        } else {
                            if (row_iter != 0 && colum_iter == 0)
                                code += '<td id=' + colum_iter + ' class="item_question table_answer"><span class="row_text">Вопрос</span></td>';
                            else
                                code += '<td id=' + colum_iter + ' class="table_answer"></td>';
                        }
                    }
                }
                code += '</tr>';
            }
            code += '</table>';
            code += '<button class="add_row">Добавить строку</button>';
            code += '<button class="add_colum">Добавить столбец</button>';
            $('div.table_answer').append(code);
        });

        $('div.table_answer').on('mouseenter', '.check_td', function () {
            $(this).css('background-color', '#808080');
        });
        $('div.table_answer').on('mouseleave', '.check_td', function () {
            $(this).css('background-color', '#fff');
        });
        $('div.table_answer').on('click', '.check_td', function () {
            $(this).find('input').prop('checked', true);
        });
        $('div.table_answer').on('dblclick', '.item_answer', function () {
            $('div.table_answer').off('dblclick', '.item_answer');
            var td_text = $(this).text();
            $(this).find('span.edittext').empty().append('<input class="text_answer" type="text" value="' + td_text + '"/>');
            $('input.text_answer').focus().select();
            //$('input.text_answer').select();

        });
        $('div.table_answer').on('keyup', 'input.text_answer', function (event) {
            var parent, text_answer;
            if (event.keyCode == 13) {
                parent = $(this).parent();
                text_answer = $(this).val();
                parent.empty().append(text_answer);
                $('div.table_answer').on('dblclick', '.item_answer', function () {
                    $('div.table_answer').off('dblclick', '.item_answer');
                    var td_text = $(this).text();
                    $(this).find('span.edittext').empty().append('<input class="text_answer" type="text" value="' + td_text + '"/>');
                    $('input.text_answer').focus().select();
                });
            }
        });
        $('div.table_answer').on('blur', 'input.text_answer', function () {
            var parent, text_answer;

                parent = $(this).parent();
                text_answer = $(this).val();
                parent.empty().append(text_answer);
                $('div.table_answer').on('dblclick', '.item_answer', function () {
                    $('div.table_answer').off('dblclick', '.item_answer');
                    var td_text = $(this).text();
                    $(this).find('span.edittext').empty().append('<input class="text_answer" type="text" value="' + td_text + '"/>');
                    $('input.text_answer').focus().select();
                });

        });
        $('div.table_answer').on('dblclick', '.item_question', function () {
            $('div.table_answer').off('dblclick', '.item_question');
            var td_text = $(this).text();
            $(this).find('span.row_text').empty().append('<input class="text_question" type="text" value="' + td_text + '"/>');
            $('input.text_question').focus().select();
            //$('input.text_answer').select();

        });
        $('div.table_answer').on('keyup', 'input.text_question', function (event) {
            var parent, text_answer;
            if (event.keyCode == 13) {
                parent = $(this).parent();
                text_answer = $(this).val();
                parent.empty().append(text_answer);
                $('div.table_answer').on('dblclick', '.item_question', function () {
                    $('div.table_answer').off('dblclick', '.item_question');
                    var td_text = $(this).text();
                    $(this).find('span.row_text').empty().append('<input class="text_question" type="text" value="' + td_text + '"/>');
                    $('input.text_question').focus().select();
                });
            }
        });
        $('div.table_answer').on('blur', 'input.text_question', function () {
            var parent, text_answer;
                parent = $(this).parent();
                text_answer = $(this).val();
                parent.empty().append(text_answer);
                $('div.table_answer').on('dblclick', '.item_question', function () {
                    $('div.table_answer').off('dblclick', '.item_question');
                    var td_text = $(this).text();
                    $(this).find('span.row_text').empty().append('<input class="text_question" type="text" value="' + td_text + '"/>');
                    $('input.text_question').focus().select();
                });
        });

        $('div.table_answer').on('click', 'button.add_row', function () {
            var iter, code, colum;
            iter = $('tr.table_answer:last').attr('id');
            colum = $('tr.table_answer:last').find('td.table_answer').length;
            code = '<tr id=' + (Number(iter) + 1) + ' class="table_answer">';
            for (var i = 0; i < colum; i++) {
                if (i == 0)
                    code += '<td id=' + i + ' class="item_question table_answer"><span class="row_text">Вопрос</span></td>';
                else
                    code += '<td id=' + i + ' class="check_td table_answer"><input type="radio" name="group' + (Number(iter)+1) + '" /></td>';
            }
            code += '</tr>';
            $('tr.table_answer:last').after(code);
        });
        $('div.table_answer').on('click', 'button.add_colum', function () {
            var iter, code, row;
            row = Number($('tr.table_answer:last').attr('id'));
            iter = Number($('tr.table_answer:last').find('td.table_answer:last').attr('id'))+1;
            for (var i = 0; i <= row; i++) {
                if (i == 0)
                    $('tr.table_answer[id=0] td.table_answer:last').after('<td id=' + iter + ' class="item_answer table_answer"><input type="hidden" class="index" id="' + (Number($('tr.table_answer[id=0] td.table_answer:last').find('input.index').attr('id')) + 1) +'"><span class="edittext">Ответ</span></td>');
                else
                    $('tr.table_answer[id=' + i + '] td.table_answer:last').after('<td id=' + iter + ' class="check_td table_answer"><input type="radio" name="group' + i + '" /></td>');
            }
        });

        $('div.table_answer').on('mouseup', 'td.table_answer', function (event) {
            if (event.button == 2) {
                var elem_td = $(this);
                document.oncontextmenu = function () { return false; }
                $('.contextmenu').remove();
                $('body').append('<div class="contextmenu"><div>');
                $('.contextmenu').append('<p class="text_context" id=1>Удалить столбец</p>');
                $('.contextmenu').append('<p class="text_context" id=2>Удалить строку</p>');
                $('.contextmenu').focus();
                $('.contextmenu').css({
                    'border': '1px solid black',
                    'border-radius': '2px',
                    'position': 'fixed',
                    'display': 'block',
                    'z-index': '1',
                    'left': event.clientX,
                    'top': event.clientY,
                    'width': 'auto',
                    'height': 'auto',
                    'background': 'rgba(200, 200, 200 , 1)',
                    'box-shadow': '0 8px 10px rgba(0, 0, 0, 0.5)',
                    'padding': '5px'
                });
                $('.text_context').mouseenter(function () {
                    $(this).css({
                        'cursor': 'pointer',
                        'background-color': '#eeeeee',
                        'border': '1px solid red',
                        'border-radius': '2px'
                    })
                });
                $('.text_context').mouseleave(function () {
                    $(this).removeAttr('style');
                });

                $('.text_context').click(function () {
                    switch ($(this).attr('id')) {
                        case '1':
                           // alert($('tr[id=0] td[id=' + elem_td.attr('id') + ']').find('span.edittext').attr('id'));
                            if ($('tr[id=0] td[id=' + elem_td.attr('id') + ']').find('span.edittext').attr('id') > 0) {
                                $.post("/Question/deleteAnswer", { Id: $('tr[id=0] td[id=' + elem_td.attr('id') + ']').find('span.edittext').attr('id') });
                            }
                            $('table.table_answer td[id=' + elem_td.attr('id') + ']').remove();
                            var answer_colum = $('table.table_answer tr[id=0] td.item_answer');
                            var new_index = 1;
                            $.each(answer_colum, function () {
                                $(this).find('input.index').attr('id', new_index);
                                ++new_index;
                            });
                            $('.contextmenu').blur();
                            break;
                        case '2':
                            elem_td.parent('tr').remove();
                            $('.contextmenu').blur();
                            break;
                        default:
                            break;
                    }

                });
                $('body').on('blur', '.contextmenu', function () {
                    document.oncontextmenu = function () { return true; }
                    $(this).remove();
                });
                $('body').click(function () {
                    $('.contextmenu').blur();
                });
            }
        });


    });

</script>