.TablePhone {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 1px solid black;
}

.TableCont {
    grid-column: span 12;
}

    .TableCont > td {
        min-width: 20px;
    }

div.page_btn {
    width: 30px;
    height: 30px;
    background: #008dd2;
    border: 1px solid black;
    color: #fff;
    margin: 0px 2px;
}

    div.page_btn:hover {
        transform: scale(1.2, 1.2);
        transition: 0.2s linear;
    }

div.item_form_numb {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

div.phone_form:hover {
    background: #808080;
}

div[name=NP] {
    grid-column: span 3;
    border: 1px solid black;
    text-align: center;
}

div[name=VGOR] {
    grid-column: span 4;
    border: 1px solid black;
    text-align: center;
}

div[name=Phone] {
    grid-column: span 4;
    border: 1px solid black;
    text-align: center;
}

div[name=Sex] {
    grid-column: span 3;
    border: 1px solid black;
    text-align: center;
}

div[name=Age] {
    grid-column: span 2;
    border: 1px solid black;
    text-align: center;
}

div[name=Address] {
    grid-column: span 8;
    border: 1px solid black;
}

.size {
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis; /* Многоточие */
    vertical-align: top;
    text-align: center;
    border: 1px solid black;
}

    .size:after {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

div[name=panel_filter] {
    display: inline-flex;
}

.search_btn {
    width: 100px;
    height: 30px;
    background: #008dd2;
    color: #fff;
    vertical-align: top;
    text-align: center;
    margin: 0px 2px;
}

    .search_btn:after {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: middle;
    }

    .search_btn:hover {
        border: 3px inset grey;
    }

div.panel_editer {
    position: relative;
    background: #fff;
    border: 3px inset #008dd2;
    width: 500px;
    height: 500px;
    padding: 15px;
}

div.editer_form_numb {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 50%;
}

div.col1_grid {
    grid-column: span 4;
}

div.col2_grid {
    grid-column: span 6;
}

div.close_panel_editer {
    background: red;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: relative;
    margin-top: -15px;
    top: -10px;
    left: calc(100% + 7px);
    text-align: center;
    cursor: pointer;
}

    div.close_panel_editer:hover {
        transform: scale(1.5,1.5);
        transition: .2s linear;
    }

div[name=second_panel_filter] {
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.SortUp {
    background: #81c784;
    color: #fff;
}

.SortDown {
    background: #008dd2;
    color: #fff;
}

div.text_count {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: #191a57;
    font-weight: 600;
    margin: 0px 5px;
}

div.text_end_count {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #355a45;
}

div.btn_slide_panel {
    width: 20px;
    height: 20px;
    background-color: #008dd2;
    border-radius: 10px;
    margin-right: 5px;
}

    div.btn_slide_panel:hover {
        background-color: #f44338;
        transform: scale(1.3,1.3);
        transition: .1s linear;
    }

div.number_count {
    padding: 0px 5px;
    background-color: #008dd2;
    color: #fff;
    margin-left: 5px;
    font-family: 'Century Gothic';
    font-weight: 900;
}

div.block_info_text {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

div.NotLoader {
    background-color: red;
    border: 1px solid #008dd2;
}
