@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    г. Иваново, пер. Подгорный, д. 5<br />
    <abbr title="Телефон">Тел:</abbr>
    +7 (4932) 95-20-70
</address>

<address>
    <strong>Поддержка:</strong>   <a href="mailto:info@image-factor.ru">info@image-factor.ru</a><br />
    <strong>Услуги:</strong> <a href="mailto:info@image-factor.ru">info@image-factor.ru</a>
</address>

