@{
    ViewBag.Title = "Домашняя страница";
}

<div class="container">
    <div class="row">
        <p>ifsocialForms - это...</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <p>Функционал</p>
        </div>
        <div class="col-md-4">
            <p>Логика</p>
        </div>
        <div class="col-md-4">
            <p>Опция 3</p>
        </div>

    </div>
</div>
