<link rel="stylesheet" type="text/css" href="../Content/media/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<style>
    .headerMenu {
        background-image: none !important;
        background-color: #008dd2 !important;
    }
</style>

<h2 class="H2List">Инструкция</h2>
<div class="col-md-12" style="margin:0 10px">
    <div class="row">
        <h3 class="H3List">Правила</h3>
        <div class="col-md-12" style="margin:0 10px">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important"><span style="color: white;background: #f44336;margin: 5px;padding: 2px 8px;border-radius: 5px;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;font-weight: bold;">ВАЖНО!</span> При работе с программой:</h4>
            <ul class="list-group" style="width: 80%;">
                <li class="list-group-item list-group-item-warning">
                    При работе с программой не возращаться кнопкой браузера назад
                    <img src="~/Content/images/instNEW/backNEW.jpg" class="img-responsive img-rounded" />

                </li>
                <li class="list-group-item list-group-item-warning">
                    После работы обязательно выйти из программы
                    <img src="~/Content/images/instNEW/exitNEW.jpg" class="img-responsive img-rounded" />
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12" style="margin:0 10px">
    <div class="row">
        <h3 class="H3List">Прохождение анкеты</h3>
        <div class="col-md-12" style="margin:0 10px">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important">Для проходения анкеты:</h4>
            <ul class="list-group" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important">
                <li class="list-group-item">
                    В меню слева выбираем пункт "Проекты для тестирования"</br>
                    <img src="~/Content/images/instNEW/menuNEW2_1.jpg" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Выбираем из списка анкету
                    <img src="~/Content/images/instNEW/spiskNEW2.jpg" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Нажимаем кнопку "Начать"
                    <img src="~/Content/images/instNEW/button_startNEW2.jpg" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">Проходим анкету</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12" style="margin:0 10px">
    <div class="row">
        <h3 class="H3List">Работа с данными</h3>
        <div class="col-md-12" style="margin:0 10px">
            <h4 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important">Для работы с данными:</h4>
            <ul class="list-group" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important">
                <li class="list-group-item">
                    В меню слева выбираем пункт "Результаты анкетирования"
                    <img src="~/Content/images/instNEW/menuNEW2_2.jpg" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Откроеться список
                    <img src="~/Content/images/instNEW/listNEW2.jpg" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Выгрузить в Excell
                    <img src="~/Content/images/instruction/export.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Выгрузить аудиозаписи
                    <img src="~/Content/images/instruction/down2.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Посмотреть результаты анкетирования:
                    <img src="~/Content/images/instNEW/listNEW1.jpg" class="img-responsive img-rounded" />
                    <ul class="list-group" style="margin:5px 10px 0 10px">
                        <li class="list-group-item">
                            Воспройзвести аудио
                            <img src="~/Content/images/instruction/play.png" class="img-responsive img-rounded" />
                        </li>
                        <li class="list-group-item">
                            Скачать ауйдио
                            <img src="~/Content/images/instruction/down1.png" class="img-responsive img-rounded" />
                        </li>
                        <li class="list-group-item">
                            Посмотреть геолокацию
                            <img src="~/Content/images/instruction/geo.png" class="img-responsive img-rounded" />
                        </li>
                    </ul>
                </li>
                <li class="list-group-item">
                    Фильтры:
                    <img src="~/Content/images/instNEW/filterNEW.jpg" class="img-responsive img-rounded" />
                </li>
            </ul>
        </div>
    </div>
</div>
