<link rel="stylesheet" type="text/css" href="../Content/media/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<h1>Инструкция</h1>
<div class="col-md-12" style="margin:0 10px">
    <div class="row">
        <h3>Правила</h3>
        <div class="col-md-12" style="margin:0 10px">
            <h4><span style="color:red">ВАЖНО!</span> При работе с программой:</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-warning">При работе с программой не возращаться кнопкой браузера назад</li>
                <li class="list-group-item list-group-item-warning">После работы обязательно выйти из программы</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12" style="margin:0 10px">
    <div class="row">
        <h3>Прохождение анкеты</h3>
        <div class="col-md-12" style="margin:0 10px">
            <h4>Для проходения анкеты:</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    В меню слева выбираем пункт "Проекты для тестирования"</br>
                    <img src="~/Content/images/instruction/menu.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Выбираем из списка анкету
                    <img src="~/Content/images/instruction/spisk1.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Нажимаем кнопку "Начать"
                    <img src="~/Content/images/instruction/button_start.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">Проходим анкету</li>
            </ul>
        </div>
    </div>
</div>
<div class="col-md-12" style="margin:0 10px">
    <div class="row">
        <h3>Работа с данными</h3>
        <div class="col-md-12" style="margin:0 10px">
            <h4>Для работы с данными:</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    В меню слева выбираем пункт "Результаты анкетирования"
                    <img src="~/Content/images/instruction/menu2.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Откроеться список
                    <img src="~/Content/images/instruction/list2.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Выгрузить в Excell
                    <img src="~/Content/images/instruction/export.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Выгрузить аудиозаписи
                    <img src="~/Content/images/instruction/down2.png" class="img-responsive img-rounded" />
                </li>
                <li class="list-group-item">
                    Посмотреть результаты анкетирования:
                    <img src="~/Content/images/instruction/list3.png" class="img-responsive img-rounded" />
                    <ul class="list-group" style="margin:5px 10px 0 10px">
                        <li class="list-group-item">
                            Воспройзвести аудио
                            <img src="~/Content/images/instruction/play.png" class="img-responsive img-rounded" />
                        </li>
                        <li class="list-group-item">
                            Скачать ауйдио
                            <img src="~/Content/images/instruction/down1.png" class="img-responsive img-rounded" />
                        </li>
                        <li class="list-group-item">
                            Посмотреть геолокацию
                            <img src="~/Content/images/instruction/geo.png" class="img-responsive img-rounded" />
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
