<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<style>
    .check_question {
        padding: 5px;
        background-color: #81c784;
        width: 150px;
        font-weight: 600;
        font-family: 'Century Gothic';
        text-align: center;
        box-shadow: 0 0 5px 1px black;
        margin: 10px 0px;
    }

    .PanelQuestion {
        padding: 10px;
        position: absolute;
        min-width: 150px;
        display: none;
        align-items: center;
        z-index: 999;
    }

    p.hover_question {
        text-align: center;
        margin-left: 5%;
        width: 90%;
    }

        p.hover_question:hover {
            border: 1px solid black;
            box-shadow: 5px 5px black;
        }

    .QuotaPanel {
        border: 1px solid black;
        box-shadow: 3px 3px 5px black;
        margin: 5px;
        padding: 5px;
        user-select: none;
    }

    .name_quota_question {
        display: inline-block;
        border: 1px solid black;
        width: 50%;
        margin-left: 10px;
        padding: 5px;
    }

    .TargetAnswerPanel {
        border: 1px solid black;
        padding: 5px;
        margin-bottom: 5px;
    }

    .UnionWith {
        display: inline-block;
        margin-left: 5px;
        padding: 5px 15px;
        background-color: #81c784;
    }

        .UnionWith:hover {
            background-color: grey;
            border: 1px solid black;
        }

    .QuotaHeadName {
        font-weight: 600;
    }

    .SpaceArrow {
        display: inline-block;
        color: #72afff;
        font-size: 24px;
        margin-left: 10px;
    }

    .RemoveLevelQuota {
        display: inline-block;
        color: gray;
        background-color: #dd6565;
        width: 30px;
        margin-left: 5px;
        text-align: center;
        padding: 5px;
    }

        .RemoveLevelQuota:hover {
            color: red;
        }

    .QuotaLastName {
        width: 350px;
        display: inline-block;
        font-weight: normal;
    }

    .SaveQuota {
        width: 120px;
        height: 30px;
        padding: 5px;
        text-align: center;
        background-color: #008dd2;
        color: black;
        font-weight: 600;
        box-shadow: 0 0 5px black;
    }

        .SaveQuota:hover {
            color: #585858;
        }

    .Total_Count {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 30px;
        border: 1px solid black;
        border-bottom: 0px;
        left: calc(100% - 100px);
        font-size: 16px;
        font-family: 'Century Gothic';
        font-weight: 600;
        text-align: center;
    }

    .PanelTotalCount {
        align-items: flex-end;
        height: 30px;
    }

    .TextTotalCount {
        font-family: 'Century Gothic';
        font-weight: 900;
        font-size: 16px;
        display: inline-block;
        position: absolute;
        left: calc(100% - 200px);
        width: 120px;
        height: 30px;
    }
</style>
<input name="project_id" value="@ViewBag.ProjectID" hidden />

<div class="check_question"> Выберите вопрос </div>
<div class="PanelQuestion" id="PanelQuestion"> </div>
<div class="QuotaPanel"></div>
<div class="SaveQuota">&#10004; Сохранить</div>
<script src="~/Scripts/jquery-ui.js"></script>
<script type="text/javascript">
    let project_id = $('input[name=project_id]').val();
    let list_kvot = {};
    let list_group_question = {};
    let list_kvot_question = {};
    let list_range = {};
    $(function () {
        var is_over_load = false;
        var interval = setInterval(function () {
            if (is_over_load) {
                $('.PreLoader').hide();
                BuildQuota();
                clearInterval(interval);
            }
        }, 500);

        $.get("/Group/getGroup", { id_p: project_id })
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    list_group_question[item.QuestionID] = item;
                })
            })

        $.get('/Question/GetListQuestionKvot', { id_p: project_id })
            .success(function (server_data) {
                $.each(server_data, function (i, item) {
                    $('select[name=question_name]').append('<option value=' + item.Id + '> Вопрос ' + item.Id + '</option>');
                    $('div.PanelQuestion').append('<p class="hover_question" id="' + item.Id + '">Вопрос ' + item.Id + '</p>');
                    list_kvot_question[item.Id] = item;
                    var id_question = item.Id;
                    if (item.TypeQuestion == 3) {
                        $.get("/Question/GetRange", { id_p: item.ProjectID, bind_q: item.Id })
                            .success(function (server_data) {
                                $.each(server_data, function (i, item) {
                                    list_range[item.Id] = item;
                                    var answer_item = {
                                        Id: item.Id,
                                        QuestionID: item.BindQuestion,
                                        AnswerText: item.RangeString,
                                        Index: item.IndexRange
                                    }
                                    if (list_kvot_question[id_question].AnswerList == undefined) {
                                        list_kvot_question[id_question].AnswerList = [answer_item];
                                    } else {
                                        list_kvot_question[id_question].AnswerList.push(answer_item);
                                    }

                                })
                            })
                    } else {
                        $.get("/Question/getAnswer", { id_question: id_question })
                            .success(function (server_data) {
                                $.each(server_data, function (i, item) {
                                    if (list_kvot_question[id_question].AnswerList == undefined) {
                                        list_kvot_question[id_question].AnswerList = [item];
                                    } else {
                                        list_kvot_question[id_question].AnswerList.push(item);
                                    }

                                })
                                
                            })
                    }
                })
                is_over_load = true;
            })
    })

    function SaveKvot() {
        var type_kvot = $('select.type_kvot option:checked').val();
        var id_question = $('select[name=question_name] option:checked').val();
        var answer_mas = {};
        var kvot_massive = [];
        $('div.answer_type p').each(function () {
            var query = {
                ProjectID: project_id,
                QuestionID: id_question,
                Target: $(this).find('span').text(),
                CountKvot: $(this).find('input').val(),
                TypeKvot: $('select.type_kvot option:checked').val()
            }
            kvot_massive.push(query);
        })
        $.post("/Question/SetKvot", { _kvot: kvot_massive })
            .success(function () {
                $('.Tables').empty();
                $('.Tables').load('/Home/Kvot?id_p=' + project_id);
            });
    }

    $('div.list_all_kvot').on("click", ".delete_kvot", function () {
        var id_question = $(this).attr('id');
        var div_kvot = $(this).parent();
        var h3_kvot = div_kvot.prev();
        div_kvot.remove();
        h3_kvot.remove();
        console.log("ID question >>>> " + id_question)
        //$('/Question/DeleteQuota', { id_p: $('input[name=project_id]').val() });
        //$.post("/Question/DeleteKvot", { id_question: id_question });
    })

    $('div.list_all_kvot').on("click", ".save_kvot", function () {
        var id_question = $(this).attr('id');
        var div_kvot = $(this).parent();
        var list_new_changes = [];
        div_kvot.find('p').each(function () {
            list_new_changes.push($(this).attr('id') + "#" + $(this).find('input').val());
        })
        $.post("/Question/ChangeKvot", { new_changes: list_new_changes });
    })

    $('.check_question').click(function (event) {
        var position_x = this.offsetLeft + Math.floor(this.offsetWidth / 2);
        var position_y = this.offsetTop + Math.floor(this.offsetHeight / 2);
        this.style.backgroundColor = "grey";

        $('.check_question').animate({ backgroundColor: '#81c784' }, 200);
        var panel_question_div = document.getElementById('PanelQuestion');
        panel_question_div.style.display = 'block';
        //panel_question_div.style.position = 'fixed';
        panel_question_div.style.left = position_x + "px";
        panel_question_div.style.top = position_y + "px";
        panel_question_div.style.backgroundColor = "#72afff";
        $(document).mouseup(function (event) {
            var container = $('.PanelQuestion');
            if (container.has(event.target).length === 0) {
                container.hide();
            }
        });
    })

    $('.PanelQuestion').on("click", 'p.hover_question', function () {
        //alert($(this).attr('id'));
        $(this).parent().slideUp(200);
        $(this).hide();
        if ($(this).parent().hasClass('NewLevel')) {
            $('.AddNewLevel').after('<div name="quota_question_manager" class="QuotaManager Child" id="' + $(this).attr('id') + '"><div class="SpaceArrow">&#10148;</div><div class="name_quota_question">' + list_group_question[$(this).attr('id')].GroupName + '</div><div class="RemoveLevelQuota Child" id="' + $(this).attr('id') + '">&#10006;</div><div class="UnionWith Child"> &#10010; Уровень</div></div>');
            $('.AddNewLevel').removeClass('AddNewLevel');
            BildQuotaTree();
        } else {
            $('.QuotaPanel').append('<div name="quota_question_manager" id="' + $(this).attr('id') + '" class="QuotaManager Root Rebild"><div class="name_quota_question">' + list_group_question[$(this).attr('id')].GroupName + '</div><div class="RemoveLevelQuota Root" id="' + $(this).attr('id') + '">&#10006;</div><div class="UnionWith Root"> &#10010; Уровень</div></div>');
            $('div[id=' + $(this).attr('id') + '][name=quota_question_manager]').append('<div class="PanelTotalCount"><div class="TextTotalCount">Всего : </div><div class="Total_Count">1</div></div><div class="TargetAnswerPanel"></div>');
            var id_question = $(this).attr('id');
            BildQuotaTree();
            //$.get("/Question/getAnswer", { id_question: $(this).attr('id') })
            //    .success(function (server_data) {
            //        var sublist_kvot = {};
            //        //$.each(list_kvot[id_question], function (i, item) {
            //        //    sublist_kvot[item.Target] = item;
            //        //});
            //        $.each(server_data, function (i, item) {
            //            $('div[id=' + id_question + '][name=quota_question_manager]').find('.TargetAnswerPanel').append('<div style="margin-left: 0px; border-bottom: 1px solid grey;"><div class="QuotaLastName QuotaDiv" id=0 ><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + id_question + '"/>' + item.AnswerText + '</div><div style="display:inline-block; margin-bottom: 3px;"><input class="Count_Quota" type="text" style=" width: 80px;" /></div></div>');

            //        })
            //        var panel_answer = $('div[id=' + id_question + '][name=quota_question_manager]').find('.TargetAnswerPanel').first();
            //        var total_count = 0;
            //        panel_answer.find('.Count_Quota').each(function () {
            //            if (isNaN(Number($(this).val())) || $(this).val() == "") $(this).val("0");
            //            total_count += Number($(this).val());
            //        })
            //        panel_answer.prev().find('.Total_Count').first().text(total_count);
                    
            //        CheckTotalCount();
            //    })
        }
    })

    $('.QuotaPanel').on("click", '.UnionWith', function () {
        //var list_target_answer = [];
        //$(this).parent().find('.TargetAnswerPanel').find('p').each(function () {
        //    list_target_answer.push($(this).find('span').text());
        //})
        //var next_div = $(this).parent().next();
        //$(this).parent().find('.TargetAnswerPanel').remove();
        //var html_target = next_div.find('.TargetAnswerPanel').html();
        //next_div.find('.TargetAnswerPanel').remove();
        //$.each(list_target_answer, function (i, item) {
        //    next_div.append('<div>' + item + '<div style="margin-left: 20px"> ' + html_target + '</div></div>');
        //})
        if ($(this).hasClass('Root')) {
            $(this).parent().addClass('Rebild');
        }
        if ($(this).hasClass('Child')) {
            $(this).parents('.Root').addClass('Rebild');
        }
        $('.PanelQuestion').addClass('NewLevel');
        $(this).addClass('AddNewLevel');
        var position_x = this.offsetLeft + Math.floor(this.offsetWidth / 2);
        var position_y = this.offsetTop + Math.floor(this.offsetHeight / 2);
        this.style.backgroundColor = "grey";
        this.style.boxShadow = "0px 0px black";
        $('.check_question').animate({ backgroundColor: '#58e863' }, 200);
        var panel_question_div = document.getElementById('PanelQuestion');
        panel_question_div.style.display = 'block';
        //panel_question_div.style.position = 'fixed';
        panel_question_div.style.left = position_x + "px";
        panel_question_div.style.top = position_y + "px";
        panel_question_div.style.backgroundColor = "#72afff";
        $(document).mouseup(function (event) {
            var container = $('.PanelQuestion');
            if (container.has(event.target).length === 0) {
                container.hide();
                container.removeClass('NewLevel');
            }
        });
    })

    $('.QuotaPanel').on("click", ".RemoveLevelQuota", function () {
        var id_question = $(this).attr('id');
        if ($(this).hasClass('Root')) {
            var parent_div = $(this).parents('.QuotaManager');
            parent_div.find(".QuotaManager").each(function () {
                $('.PanelQuestion').find('p[id=' + $(this).attr('id') + ']').show();
            })
            $(this).parent().addClass('Rebild'); //  Не нужный элементё
            $('.PanelQuestion').find('p[id=' + id_question + ']').show();
            $(this).parent().remove();
        }
        if ($(this).hasClass('Child')) {
            $(this).parents('.Root').addClass('Rebild');
            $('.PanelQuestion').find('p[id=' + id_question + ']').show();
            $(this).parent().remove();
            BildQuotaTree();

        }

        $.post('/Question/DeleteQuota', { id_p: $('input[name=project_id]').val(), id_q: id_question });
    })

    function BildQuotaTree() {
        var container_rebild = $('.Rebild');
        container_rebild.find('.TargetAnswerPanel').empty();
        var massiv_tmp = [];
        massiv_tmp.push(container_rebild.attr('id'));
        //alert(container_rebild.attr('id'));
        container_rebild.find('div.QuotaManager').each(function () {
            massiv_tmp.push($(this).attr('id'));
        })
        for (var i = 0; i < massiv_tmp.length; i++) {
            var question_item = list_kvot_question[massiv_tmp[i]];
            console.log("Question list === ", question_item);
            if (i == massiv_tmp.length - 1) {
                var list_answer = question_item.AnswerList;
                if (massiv_tmp.length == 1) {
                    $.each(list_answer, function (k, item) {
                        container_rebild.find('.TargetAnswerPanel').append('<div style="margin-left: ' + (10 * i) + 'px; border-bottom: 1px solid grey;"><div class="QuotaLastName QuotaDiv" id=' + i + ' ><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div><div style="display:inline-block; margin-bottom: 3px;"><input class="Count_Quota" type="text" style=" width: 80px;" /></div></div>');
                    })
                }
                else {
                    $.each(list_answer, function (k, item) {
                        container_rebild.find('.TargetAnswerPanel').find('div[id=' + (i - 1) + ']').each(function () {
                            $(this).append('<div style="margin-left: ' + (10 * i) + 'px; border-bottom: 1px solid grey;"><div class="QuotaLastName QuotaDiv" id=' + i + ' ><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div><div style="display:inline-block; margin-bottom: 3px;"><input class="Count_Quota" type="text" style=" width: 80px;" /></div></div>');
                        })
                    })
                }
            } else if (i == 0) {
                var list_answer = question_item.AnswerList;
                $.each(list_answer, function (k, item) {
                    container_rebild.find('.TargetAnswerPanel').append('<div class="QuotaHeadName QuotaDiv" id=' + i + '><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div>');
                })
            } else {
                var list_answer = question_item.AnswerList;
                $.each(list_answer, function (k, item) {
                    container_rebild.find('.TargetAnswerPanel').find('div[id=' + (i - 1) + ']').each(function () {
                        $(this).append('<div class="QuotaHeadName QuotaDiv" id=' + i + ' style="margin-left: ' + (10 * i) + 'px"><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div>');
                    })
                })
            }
        }

        var panel_answer = container_rebild.find('.TargetAnswerPanel').first();
        var total_count = 0;
        panel_answer.find('.Count_Quota').each(function () {
            if (isNaN(Number($(this).val())) || $(this).val() == "") $(this).val("0");
            total_count += Number($(this).val());
        })
        panel_answer.prev().find('.Total_Count').first().text(total_count);

        CheckTotalCount();
        $('.Rebild').removeClass('Rebild');
    }

    $('.SaveQuota').click(function () {
        var prev_count;
        var out_function = false;
        $('.Total_Count').each(function (i) {
            if (i == 0) prev_count = Number($(this).text());
            else {
                if (prev_count != Number($(this).text())) {
                    out_function = true;
                    return false;
                }
            }
        })
        if (out_function) {
            alert("Не совподают количество квот");
            return;
        }
        var list_quota = [];
        $('.TargetAnswerPanel').find('input').each(function () {
            if ($(this).val() == '') {
                $(this).val(0);
            }
        })
        CreateChainQuota($('.TargetAnswerPanel'), -1, "", list_quota);
        $.post("/Question/SaveQuota", { id_p: $('input[name=project_id]').val(), list_quota: list_quota })
            .success(function () { alert("Квоты сохранены") })
            .error(function () { alert("Ошибка сохранения квот") });
    })

    function CreateChainQuota(container, id_num, str_tmp, list_quota) {
        var new_id_num = id_num + 1;
        var chain_str;
        if (new_id_num == 0) {
            var id_quota_q = container.find('div.QuotaDiv[id=' + new_id_num + ']:first').find('input.InfoQuestion:first').attr('id');
            $.post('/Question/DeleteQuota', { id_p: $('input[name=project_id]').val(), id_q: id_quota_q });
            console.log("Id QUEsTION >>> " + id_quota_q);
        }
        container.find('div.QuotaDiv[id=' + new_id_num + ']').each(function () {
            if ($(this).hasClass('QuotaLastName')) {
                chain_str = str_tmp.substr(0);
                var id_question = $(this).find('input.InfoQuestion:first').attr('id');
                var id_answer = $(this).find('input.InfoAnswer:first').attr('id');
                chain_str += id_question + "/" + id_answer + '=' + $(this).next().find('input:first').val();
                list_quota.push(chain_str);
            } else {
                chain_str = str_tmp.substr(0);
                var id_question = $(this).find('input.InfoQuestion:first').attr('id');
                var id_answer = $(this).find('input.InfoAnswer:first').attr('id');
                chain_str += id_question + "/" + id_answer + "#";
                if (new_id_num == 0) { console.log("ID q: " + id_question + " ID a: " + id_answer); }
                CreateChainQuota($(this), new_id_num, chain_str.slice(0), list_quota);
            }
        })

        return 0;
    }

    function BuildQuota() {
        var list_quota = {};
        $.get("/Question/GetQuota", { id_p: $('input[name=project_id]').val() })
            .success(function (server_data) {
                var massiv_tmp2 = [];
                var chain_question = {};
                var prev_first_questtion = null;
                var count_list_chain = {};
                var full_chain_answer = [];
                var count_index = 0;
                $.each(server_data, function (i, item) {
                    var chain_string = item.ChainString.split('=')[0];

                    full_chain_answer.push([ParseAnswerID(chain_string), item.QuotaCount]);

                    var devide_massiv = chain_string.split('#');
                    var first_queston = Number(devide_massiv[0].split('/')[0]);

                    if (prev_first_questtion == first_queston) {
                        return;
                    } else {
                        prev_first_questtion = first_queston;
                        var tmp_devide_massive = [];
                        $.each(devide_massiv, function (i, item) {
                            tmp_devide_massive.push(item.split('/')[0]);
                        })
                        massiv_tmp2[count_index] = tmp_devide_massive;
                        count_index++;
                    }
                })

                $.each(massiv_tmp2, function (ind, item) {

                    var massiv_tmp = item;
                    for (var i = 0; i < massiv_tmp.length; i++) {
                        if (i == 0) {
                            $('.QuotaPanel').append('<div name="quota_question_manager" id="' + massiv_tmp[0] + '" class="QuotaManager Root"><div class="name_quota_question">' + list_group_question[massiv_tmp[0]].GroupName + '</div><div class="RemoveLevelQuota Root" id="' + massiv_tmp[0] + '">&#10006;</div><div class="UnionWith Root"> &#10010; Уровень</div></div>');
                            $('div[id=' + massiv_tmp[0] + '][name=quota_question_manager]').append('<div class="PanelTotalCount"><div class="TextTotalCount">Всего : </div><div class="Total_Count">1</div></div><div class="TargetAnswerPanel"></div>');
                            $('.PanelQuestion').find('p[id=' + massiv_tmp[i] + ']').hide();
                        } else {
                            $('div.QuotaManager[id=' + massiv_tmp[i-1] + ']').find('.UnionWith').after('<div name="quota_question_manager" class="QuotaManager Child" id="' + massiv_tmp[i] + '"><div class="SpaceArrow">&#10148;</div><div class="name_quota_question">' + list_group_question[massiv_tmp[i]].GroupName + '</div><div class="RemoveLevelQuota Child" id="' + massiv_tmp[i] + '">&#10006;</div><div class="UnionWith Child"> &#10010; Уровень</div></div>');
                            $('.PanelQuestion').find('p[id=' + massiv_tmp[i] + ']').hide();
                        }
                    }
                    var container_rebild = $('div.Root[id=' + massiv_tmp[0] + ']');

                    for (var i = 0; i < massiv_tmp.length; i++) {
                        var question_item = list_kvot_question[massiv_tmp[i]];
                        if (i == massiv_tmp.length - 1) {

                            var list_answer = question_item.AnswerList;
                            if (massiv_tmp.length == 1) {
                                $.each(list_answer, function (k, item) {
                                    container_rebild.find('.TargetAnswerPanel').append('<div style="margin-left: ' + (10 * i) + 'px; border-bottom: 1px solid grey;"><div class="QuotaLastName QuotaDiv" id=' + i + ' ><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div><div style="display:inline-block; margin-bottom: 3px;"><input class="Count_Quota" type="text" style=" width: 80px;" /></div></div>');
                                })
                            }
                            else {
                                $.each(list_answer, function (k, item) {
                                    container_rebild.find('.TargetAnswerPanel').find('div[id=' + (i - 1) + ']').each(function () {
                                        $(this).append('<div style="margin-left: ' + (10 * i) + 'px; border-bottom: 1px solid grey;"><div class="QuotaLastName QuotaDiv" id=' + i + ' ><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div><div style="display:inline-block; margin-bottom: 3px;"><input class="Count_Quota" type="text" style=" width: 80px;" /></div></div>');
                                    })
                                })
                            }
                        } else if (i == 0) {
                            var list_answer = question_item.AnswerList;
                            $.each(list_answer, function (k, item) {
                                container_rebild.find('.TargetAnswerPanel').append('<div class="QuotaHeadName QuotaDiv" id=' + i + '><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div>');
                            })
                        } else {
                            var list_answer = question_item.AnswerList;
                            $.each(list_answer, function (k, item) {
                                container_rebild.find('.TargetAnswerPanel').find('div[id=' + (i - 1) + ']').each(function () {
                                    $(this).append('<div class="QuotaHeadName QuotaDiv" id=' + i + ' style="margin-left: ' + (10 * i) + 'px"><input type="hidden" class="InfoAnswer" id="' + item.Id + '" value="' + item.AnswerText + '" /><input type="hidden" class="InfoQuestion" id="' + question_item.Id + '"/>' + item.AnswerText + '</div>');
                                })
                            })
                        }
                    }
                })


                $.each(full_chain_answer, function (i, item) {
                    FindInputCountQuota(item[0], item[1]);
                })
                $('.TargetAnswerPanel').each(function () {
                    var panel_answer = $(this);
                    var total_count = 0;
                    panel_answer.find('.Count_Quota').each(function () {
                        total_count += isNaN(Number($(this).val())) ? 0 : Number($(this).val());
                    })
                    panel_answer.prev().find('.Total_Count').first().text(total_count);
                })

                CheckTotalCount();
            })
    }

    function ParseAnswerID(str_chain) {
        var massive_answer_id = [];
        $.each(str_chain.split('#'), function (i, item) {
            massive_answer_id.push(item.split('/')[1]);
        })
        return massive_answer_id;
    }

    function FindInputCountQuota(massiv, count) {
        var container = $('.QuotaPanel');
        $.each(massiv, function (i, item) {
            container = container.find('input.InfoAnswer[id=' + item + ']').parent();
            if (i == massiv.length - 1) {

                container.next().find('input').val(count);
            }
        })
    }

    $('.QuotaPanel').on("keyup", '.Count_Quota', function () {
        var parent_panel = $(this).parents('.TargetAnswerPanel');
        var total_count = 0;
        parent_panel.find('.Count_Quota').each(function () {
            total_count += isNaN(Number($(this).val())) ? 0 : Number($(this).val());
        })
        parent_panel.prev().find('.Total_Count').first().text(total_count);
        CheckTotalCount();
    })

    function CheckTotalCount() {
        var prev_count;
        if ($('.Total_Count').length > 1) {
            $('.Total_Count').each(function (i) {
                if (i == 0) prev_count = Number($(this).text());
                else {

                    if (prev_count != Number($(this).text())) {
                        $('.Total_Count').each(function () {
                            $(this).css("color", "red")
                        });
                        return false;
                    }
                    if (i == $('.Total_Count').length - 1) {
                        $('.Total_Count').css("color", "green");
                    }
                }
            })
        } else if ($('.Total_Count').length == 1) {
            $('.Total_Count').css("color", "green");
        }
    }
</script>



