@*@model IEnumerable<SocialFORM.Models.Form.ResultModel>*@
@{
    ViewBag.Title = "TableBlanks";
}
@model PagedList.IPagedList<SocialFORM.Models.Form.ResultModel>
@using PagedList.Mvc;


<style>
    div.title {
        padding: 20px;
        border: 2px solid black;
        background-color: #72afff;
        text-align: center;
        font-size: 30px;
        font-family: 'Courier New';
        font-weight: 900;
    }

    tr.name_colum th {
        border: 1px solid black;
        background: #008dd2;
        font-size: 12px;
        text-align: center;
        color: #fff;
        font-weight:100;
        padding: 0 5px;
    }

    div.table_blanks {
        text-align: center;
        width: auto;
        padding: 15px;
    }


    p.text_td {
        min-width: 50px;
        max-width: 250px;
        white-space: nowrap; /* Отменяем перенос текста */
        overflow: hidden; /* Обрезаем содержимое */
        padding: 5px; /* Поля */
        text-overflow: ellipsis;
    }

   
        div.table_blanks td {
            /*min-width: 100px;
            max-width: 200px;*/
            width: auto;
            border: 1px solid black;
            text-align: center;
            font-size: 12px;
            min-width: 50px;
            
        }

            div.table_blanks td:hover {
                background: #f0f0f0; /* Цвет фона */
                white-space: normal;
            }

            table.into {
                width: 100%;
                height: 100%;
                min-height: 43px;
                max-height: 100px;
                margin: 0px;
                table-layout: fixed;
            }

    .col_answer {
        width: 100px;
        overflow-y: auto;
    }

    table.into td {
        min-width: 10px;
        margin: 0px;
        padding: 0px;
        border: 0px;
        empty-cells: show;
    }

        table.into td:first-child {
            border-right-style: solid;
            border-right-color: black;
            border-right-width: 1px;
        }

        table.into td.text {
            font-weight: bold;
            font-family: Courier New, Courier, monospace;
            color: mediumblue;
        }
</style>

<div class="title">@ViewBag.ProjectName</div>
@{
    int RoleId = (Int32)ViewData["RoleIdForProject"];
    if (RoleId != 3)
    {
        <button class="clear_blanks" style="margin: 10px;">Очистить базу</button>
        <button class="export_button" style="margin: 10px;">Экспорт</button>
    }
}

<div id="table_blanks_new">
    @Html.Partial("_TableBlanks", Model)
</div>


