<link href="~/Content/css/home_test_style.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@Scripts.Render("~/Scripts/jquery.maskedinput.js")
<div class="PanelOfNumbers" style="display: inline-flex; margin-bottom: 3px;">
    <div id="file-upload">
        <label>
            <input type="file" name="fileExcel" id="fileExcel">
            <span>Выберите файл</span>
        </label>
    </div><div style="width:3px;"></div>
    <div class="ButtonStyle" onclick="ExportCSV()">Экспорт</div><div style="width:3px;"></div>
    @*<div style="width: 150px;" class="ButtonStyle" onclick="AddNewTable()">Добавить таблицу</div><div style="width:3px;"></div>
    <div style="width: 150px;" class="ButtonStyle" onclick="DeleteTable()">Удалить таблицу</div><div style="width:3px;"></div>*@
    <div style="width: 150px;background-color: #f44336;" class="ButtonStyle" onclick="ClearTable()">Очистить таблицу</div>
    <div class="BlockPanel" style="display: none; position: absolute; top:0; left:0; width: 100%; height:40px; background-color:rgba(100,100,100,0.5);"></div>
</div>
<table class="TableOfNumbers" style="width:100%;" cellspacing="0">
    <tr>
        <th style="width:30px;">
        <th>Таблица</th>
        <th>Название</th>
        <th>Количество</th>
        <th>Дозвоны</th>
        <th>Перезвонить</th>
        <th>Нет ответа</th>
        <th>Занято</th>
        <th>Осталось</th>
        <th>Процент дозвона</th>
    </tr>
</table>

<script>

    function Recolor() {
        var count = 0;
        $('.TableOfNumbers').find("tr:not(:first)").each(function () {
            if ((count % 2) == 1) {
                $(this).css("background-color", "#b0bec5");
            }
            count++;
        })
    }

    function ClearTable() {
        if ($('table.TableOfNumbers').find('.IsCheckedTR').length != 0) {
            var id = Number($('table.TableOfNumbers').find('.IsCheckedTR').attr('id'))
            $.post("/Phone/SynchNumbers", { id_table: id })
                .success(function () {
                    alert("Success!!!");
                    //$.post("/Home/ClearTable", { id: id })
                    //    .success(function () {
                            $('table.TableOfNumbers').find("tr[id=" + id + "]").find("td:not(:eq(0)):not(:eq(0))").each(function () {
                                $(this).empty();
                            })
                        //})
                        //.error(function (err) { alert(err); })
                })
        } else {
            alert("Выберите таблицу");
        }
    }

    function DeleteTable() {
        var id = Number($('.TableOfNumbers').find("tr:last").attr('id'));
        if (id <= 10) {
            alert("Ограничение по удалению таблиц");
        } else {
            if ($('table.TableOfNumbers').find("tr[id=" + id + "]").find("td[name=NameFile]").text() != "") {
                alert("Выгрузите таблицу");
            } else {
                $('.BlockPanel').css("display", "flex");
                $.post("/Home/DeleteTable", { id: id })
                    .success(function () {
                        $('table.TableOfNumbers').find("tr[id=" + id + "]").remove();
                        $('.BlockPanel').css("display", "none");
                    })
                    .error(function () { alert("Error"); })
            }
        }
    }

    function AddNewTable() {
        $('.BlockPanel').css("display", "flex");
        var id = Number($('.TableOfNumbers').find("tr:last").attr('id'));
        $.post("/Home/CreateNewTable", { id: id })
            .success(function () {
                $('table.TableOfNumbers').append(`
                <tr name="table`+ (id + 1) + `" id="` + (id + 1) + `">
                    <td><input type="checkbox" /></td>
                    <td>Таблица `+ (id + 1) + `</td>
                    <td name="NameFile"></td>
                    <td name="Common"></td>
                    <td name="Connect"></td>
                    <td name="Recall"></td>
                    <td name="Not_answer"></td>
                    <td name="Busy"></td>
                    <td name="Balance"></td>
                    <td name="Percent"></td>
                </tr>`);
                $('.BlockPanel').css("display", "none");
                Recolor();
            })
            .error(function () { alert("Error") });
    }

    $.get("/Home/GetListTable")
        .success(function (data) {
            var tmp_list = [];
            $.each(data, function (i, item) {
                if (item == "name_table") return;
                var id_str = item.replace("table", "");
                tmp_list.push({ Id: Number(id_str), Name: item });
            })
            tmp_list.sort(function (a, b) { return a.Id - b.Id });
            console.log(tmp_list);

            $.each(tmp_list, function (i, item) {
                $('table.TableOfNumbers').append(`
                <tr name="`+ item.Name + `" id="` + item.Id + `">
                    <td><input type="checkbox" /></td>
                    <td>Таблица `+ item.Id + `</td>
                    <td name="NameFile"></td>
                    <td name="Common"></td>
                    <td name="Connect"></td>
                    <td name="Recall"></td>
                    <td name="Not_answer"></td>
                    <td name="Busy"></td>
                    <td name="Balance"></td>
                    <td name="Percent"></td>
                </tr>`)
            })

            $.get("/Home/GetNameTable")
                .success(function (data) {
                    $.each(data, function (i, item) {
                        if (item.Name != null || item.Name == "") {
                            $('.TableOfNumbers tr[id=' + item.Id + ']').find("td[name=NameFile]").text(item.Name);
                            $.get("/Home/GetNumbers", { id: item.Id })
                                .success(function (data) {
                                    $('.TableOfNumbers tr[name=table' + item.Id + ']').find("td[name=Common]").text(data.Common);
                                    $('.TableOfNumbers tr[name=table' + item.Id + ']').find("td[name=Connect]").text(data.Connect);
                                    $('.TableOfNumbers tr[name=table' + item.Id + ']').find("td[name=Not_answer]").text(data.Not_answer);
                                    $('.TableOfNumbers tr[name=table' + item.Id + ']').find("td[name=Balance]").text(data.Balance);
                                    $('.TableOfNumbers tr[name=table' + item.Id + ']').find("td[name=Busy]").text(data.Busy);
                                    $('.TableOfNumbers tr[name=table' + item.Id + ']').find("td[name=Recall]").text(data.Recall);
                                    $('.TableOfNumbers tr[name=table' + item.Id + ']').find("td[name=Percent]").text(Math.round((Number(data.Connect) + Number(data.Recall)) * 100 / Number(data.Common)) + "%");
                                })
                        }
                    })
                })
            Recolor();
        })

    $('.TableOfNumbers').on("click", "tr", function () {
        $(this).parent().find(".IsCheckedTR").each(function () {
            $(this).removeClass("IsCheckedTR");
        })
        $(this).addClass("IsCheckedTR");
    })

    $('#fileExcel').on("change", function (e) {
        if ($('table.TableOfNumbers').find(".IsCheckedTR").length != 0) {
            var file_elem = $(this);
            if ($('table.TableOfNumbers').find('.IsCheckedTR').find('td[name=NameFile]').text() != "") {
                alert("Таблица уже занята");
                return;
            }
            var files = e.target.files;
            var name_file;
            if (files.length > 0) {
                if (window.FormData !== undefined) {
                    var data = new FormData();
                    for (var x = 0; x < files.length; x++) {
                        data.append("file" + x, files[x]);
                        var file = files[x];
                        name_file = file.name;
                    }
                    data.append("name_table", $('.IsCheckedTR').attr('name'));
                    $('.TableOfNumbers').find(".IsCheckedTR").find("td[name=NameFile]").text(name_file);
                    var table_name = $('.IsCheckedTR').attr('id');
                    $.ajax({
                        type: "POST",
                        url: "/Home/Import?table=" + table_name,
                        contentType: false,
                        processData: false,
                        data: data,
                        success: function (data) {
                            $('.TableOfNumbers tr[name=table' + table_name + ']').find("td[name=Common]").text(data.Common);
                            $('.TableOfNumbers tr[name=table' + table_name + ']').find("td[name=Connect]").text(data.Connect);
                            $('.TableOfNumbers tr[name=table' + table_name + ']').find("td[name=Not_answer]").text(data.Not_answer);
                            $('.TableOfNumbers tr[name=table' + table_name + ']').find("td[name=Balance]").text(data.Balance);
                            $('.TableOfNumbers tr[name=table' + table_name + ']').find("td[name=Busy]").text(data.Busy);
                            $('.TableOfNumbers tr[name=table' + table_name + ']').find("td[name=Recall]").text(data.Recall);
                            $('.TableOfNumbers tr[name=table' + table_name + ']').find("td[name=Percent]").text(Math.round((Number(data.Connect) + Number(data.Recall)) * 100 / Number(data.Common)) + "%");
                            file_elem.val("");
                        }
                    })
                    alert("File not null");
                } else {
                    alert("This browser doesn't support HTML5 file uploads!");
                }
            }
        } else {
            alert("Выберите таблицу");
        }
    })

    function ClearTableButton() {
        $.post("/Home/ClearTable")
            .success(function () {
                alert("Success");
            })
            .error(function () {
                alert("Error");
            })
    }

    setInterval(function () {
        $('.TableOfNumbers').find("tr:not(:first)").each(function () {
            if ($(this).find("td[name=NameFile]").text() != "") {
                var id = $(this).attr('id');
                $.get("/Home/GetNumbers", { id: $(this).attr('id') })
                    .success(function (data) {
                        $('.TableOfNumbers tr[name=table' + id + ']').find("td[name=Common]").text(data.Common);
                        $('.TableOfNumbers tr[name=table' + id + ']').find("td[name=Connect]").text(data.Connect);
                        $('.TableOfNumbers tr[name=table' + id + ']').find("td[name=Not_answer]").text(data.Not_answer);
                        $('.TableOfNumbers tr[name=table' + id + ']').find("td[name=Balance]").text(data.Balance);
                        $('.TableOfNumbers tr[name=table' + id + ']').find("td[name=Busy]").text(data.Busy);
                        $('.TableOfNumbers tr[name=table' + id + ']').find("td[name=Recall]").text(data.Recall);
                        $('.TableOfNumbers tr[name=table' + id + ']').find("td[name=Percent]").text(Math.round((Number(data.Connect) + Number(data.Recall)) * 100 / Number(data.Common)) + "%");
                    })
            }
        })
    }, 60000)

    function ExportCSV() {
        if ($('.TableOfNumbers').find('.IsCheckedTR').length != 0) {
            var id = $('.TableOfNumbers').find(".IsCheckedTR").attr('id');
            window.location.href = "/Home/ExportToCSV?id=" + id;
        } 
    }
</script>
